*{
  font-family: 'Poppins', sans-serif;
}
#background-video {
  opacity:0.3;
  width: 100%;
  height: 964px;
  object-fit: cover;
}
.position-absolute {
  top:0;
   left:0;
   right:0;
}
.div-content {
  margin-top: 11rem !important;
  
}
.container {
  max-width: 1527px;
}
.mb-5, .my-5 {
  margin-bottom: 6rem !important;
}
.w-25 {
  width: 43% !important;
}
.w-50 {
  width: 57% !important;
}
.px-5{
  padding-left: 8rem !important;
  padding-right: 12rem !important;
}
.pause {
float: right;
margin-right: 35px;
border: 1px solid white;
color: white;
padding: 20px 56px;
}

